* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
    padding: 50px;
}

#container {
  background-color: #c9c2eb;
  padding: 25px 35px;
  border-radius: 10px;
  width: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
#main_heading {
  text-align: center;
  margin-bottom: 20px;
}


#heading_text {
  font-size: 35px;
  color: #333333;
}
 
#movie_lists {
  margin-top: 10px;
}

#unordered_lists {
  list-style: none;
}

#unordered_lists li {
  background-color: #eef2f7;
  margin-bottom: 10px;
  padding: 10px ;
  border-radius: 6px;
  font-size: 16px;
  color: #444444;
  text-align: center;
}
